// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

form.bp {
  @include blueprint-form; }
  
  
  
/* ----------- stylized ---------------- */

.spacer{clear:both; height:1px;}

#stylized{
    /*border:solid 1px #b7ddf2;*/
    /*background:#f5f5f5;*/
}
#stylized h1 {
    font-size:24px;
    font-weight:bold;
    margin-bottom:8px;
    line-height: normal;
    border-bottom: 1px solid #9AAFCA;
    text-align: center;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
padding-bottom:10px;
}

#stylized label{
    color: #1D2A5B;
    display: block;
    font-weight: normal;
    text-align: right;
    width: 40%;
    float: left;
    font-size: 16px;
    padding-right: 5px;
    padding-top: 9px;
}

#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:240px;
}

#stylized input{
    float:left;
    font-size:22px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:300px;
    margin:2px 0 20px 10px;
}

#stylized input[type="checkbox"] {
    float:left;
    font-size:22px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:2px 0 20px 10px;
    width: 30px;
    margin-top: 10px;
}

#stylized select{
float:left;
font-size:22px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
margin:2px 0 20px 10px;
}

#stylized textarea{
    float:left;
    font-size:15px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:300px;
    margin:2px 0 20px 10px;
}


#stylized-news{
/*border:solid 2px #b7ddf2;*/
/*background:#ebf4fb;*/
}
#stylized-news h1 {
    font-size:24px;
    font-weight:bold;
    margin-bottom:8px;
    line-height: normal;
}
#stylized-news p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#stylized-news label{
    display:block;
    font: 18px arial,sans-serif;
    color: #333;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float:left;
    margin-left: 10px;
}
#stylized-news .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:240px;
}
#stylized-news input{
    float:left;
    font-size:22px;
    padding:4px 2px;
    border:solid 1px #DDD;
    width:90%;
    margin:2px 0 20px 10px;
}

#stylized-news textarea{
    float:left;
    font-size:22px;
    padding:4px 2px;
    border:solid 1px #DDD;
    width:90%;
    margin:10px 0 20px 10px;
}

.news-row{
    width: 100%;
    float:left;
    display:block;
}

#non-stylized input{
    border: 0px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: auto;
    float: left;
}



#non-stylized-create-tournament input{
    border: 0px;
    width: auto;
    max-width: 350px;
      
    //margin-right: 45px;
    float: right;
    
    font-size: 20px;
    font-weight: bold;

    height: 40px;    
    line-height: 40px;
    padding: 0px 25px;
    
    margin-top: 10px;
}



/*************************** CREATE FORM **************************************/


.create-form{
   font-size: 20px;
}

.create-form ul{
   text-align:left;
   list-style-type: none; 
}

.create-form li{
   margin-top: 10px;
}

.myform{
    margin:0 auto;
    width:600px;
    padding:14px;
    margin-bottom:50px;

   /*border: 1px solid #89A4B0;*/
   margin-bottom: 30px;    

   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;

   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   -khtml-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 

}



