//@import "blueprint/liquid";

//@import "blueprint/grid";
//@import "compass/css3";

#header-top {
    @include column($blueprint-liquid-grid-columns, true);
    
    height: 40px;    
    background-color: #2D2D2D;
    border-bottom: 1px solid black;
}

#header-search {
    @include column($blueprint-liquid-grid-columns, true);
    
    background: #F1F1F1;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;

    //height: 70px;      
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#header-logo {

    @include column($aside-columns); 
    padding-top: 5px;
    overflow: visible;
    
    a {
        height: 100%;
        overflow: hidden;
        display: block;
        float: left;
        width: 250px;
        text-decoration: none;
    }
    
    img{
        float: left;
        margin-right: 5px;        
    }

    h1 {
        font: normal 24px Arial, Helvetica, sans-serif;
        margin-top: 15px;
        color: #444;
    }    
    
    h2 {
        font: $font-normal;
    }
    
    h3 {
        font: $font-small;
    }    
}

#block-search {
    //@include column($content-columns, true); 
    padding-top: 20px;  
    padding-left: 20px;

}


#search-query, #search_address{
    float: left;
    //width: 400px;
    width: 80%;
    height: 27px;
    line-height: normal;
    text-indent: 10px;
    font-family: arial, sans-serif;
    font-size: 15px;
    color: #333;
    background: white;
    border: solid 1px #D9D9D9;
}

#search-submit-site, #search_submit {
    margin-left: 10px;
    float: left;
    cursor: pointer;
    //width: 70px;
    width: 15%;
    height: 31px;
    line-height: 0;
    font-size: 0;
    text-indent: -999px;
    color: transparent;
    background: url('http://commondatastorage.googleapis.com/cometip/images/ico-search.png') no-repeat #4D90FE center;
    border: 1px solid #3079ED;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}




.panel-nav-top {
    /*padding-top:20px;*/
    overflow:visibile;
    float:left;
    min-width:100px;
    list-style: none;

    padding-top: 8px;    

    li{
        vertical-align: middle;
        height:36px;
        line-height:1.2em;
        float:left;
        font-size:100%;
        margin-right:26px;
        color:#343434;
    }
}

.profile-picture{
    margin-top: -10px;
}

.current a{
   text-decoration: none;
   color: black;
 
}

#nav-language {
    text-align: center;
    float: right;
    
    margin-top:0px;
    padding-top:0px;
}


#nav-login {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2em;
    list-style-type: none;
    text-align: right;
    float: right;

    //background: white;
    border-radius: 10px;
}



#nav-avatar {
    float: left;

    width: auto; 
    margin:0px 0px 10px 10px;

}


/***********  LOGIN BUTTONS  ************/

div.soc-networks {
    margin: 0;
    color: #CCC;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;


}


.provider {
    display: inline;
    margin: 0 5px 0 0;
    padding: 0 0 5px 0;
    height: 22px;
    cursor: pointer;
    float: left;
    
    select {
        background: #fff;
    
    }
}

.no-active .tab_left {
float: left;
background: url(https://commondatastorage.googleapis.com/cometip/images/tab_left.gif) no-repeat;
width: 2px;
height: 22px;
}

.no-active .tab_center {
padding: 4px 6px 3px 6px;
float: left;
background: url(https://commondatastorage.googleapis.com/cometip/images/tab_center.gif) repeat-x;
height: 22px;
}

div.soc-networks #language-caption {
    padding-top: 3px;
}

div.soc-networks #language {
    margin-right: 30px;
    //padding-top: 2px;
}


div.soc-networks #profile-picture {
    margin-top: -15px;

}

div.soc-networks #name {
    padding-top: 2px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 30px;
}

div.soc-networks #logout-caption {
    padding-top: 3px;
    font-size: 18px;
}




div.soc-networks #login-caption {
    padding-top: 3px;
}



div.soc-networks a#facebook {
background: url(https://commondatastorage.googleapis.com/cometip/images/facebook.ico) no-repeat left center;
padding-left: 20px;
}


.no-active .tab_right {
float: left;
background: url(https://commondatastorage.googleapis.com/cometip/images/tab_right.gif) no-repeat;
width: 2px;
height: 22px;
}

div.soc-networks a#gmail {
background: url(https://commondatastorage.googleapis.com/cometip/images/gmail.ico) no-repeat left center;
padding-left: 20px;
}

div.soc-networks a#mailru {
background: url(https://commondatastorage.googleapis.com/cometip/images/mailru.ico) no-repeat left center;
padding-left: 20px;
}

div.soc-networks a#yahoo {
background: url(https://commondatastorage.googleapis.com/cometip/images/yahoo.ico) no-repeat left center;
padding-left: 20px;
}

