@import "blueprint/liquid";
@import "compass/css3";


/*****  PLAYOFF Table**********/

#box-playoff {
    text-align: center;
    
    color: #444;
    
    margin-bottom: 20px;
    
    a {    
        text-align: center;
        
        text-overflow:clip;
    }
    
    .add-match {
        text-align: left;
        margin-left: 20px;
        color: green;
    
        a {
            color: green;
            font-size: 15px;
            
            text-decoration: none;
            border-bottom: 1px dashed;
            
            
        }
    }
    
    p {
       font-weight: normal;
       border: 1px solid #AAA;
       background: #F2F2F2;
       min-width: 150px;
        
       text-align: center; 
       text-overflow:clip;


    }
    
    .final-gold{
        background: gold;        
        
        max-width: 400px;
        margin: 0 auto;
    }
    
    .third-place{
        background: #CC9966;  
        
        max-width: 400px;
        margin: 0 auto;      
    }    

    
    

}



#box-playoff table{
    width: 100%;
}

#box-playoff table thead th {
	padding: 5px;
}


#box-playoff-table-32{
    height: 1100px;
}

#box-playoff-table-16{
    height: 500px;
}

#box-playoff-table-8{
    height: 280px;
}

#box-playoff-table-4{
    height: 150px;
}



#box-playoff-table-final{
    height: 150px;    
}


#box-playoff-table-third{
//    margin-top: 80px;

    select{
    	width: 99%;
    }
    
    table tbody td:nth-child(2){
        width: 70%;
    }

}

#box-playoff-table-third tbody tr:nth-child(2n+1) td:first-child {
    border-bottom: 0px!important;
    width: 5%;
}



#box-playoff-table {
    height: 100%;
    
    /*max-width: 400px;*/
    margin: 0 auto;

    p {
        background: #f5f5f5;
        
        min-width: 15px;
        height: 20px;
        overflow: hidden;
        
        text-overflow:clip;
        
    }
    
    select {
	    width: 99%;
	    background-color: #DDD;
    }


    table {
        border-collapse:collapse;
    }    
        
    
    table tbody {


        td:nth-child(2) {
            width: 70%;
        }


        tr:nth-child(2n+1) td {    
            vertical-align: bottom; 
        }

        tr:nth-child(2n) td {
            vertical-align: top; 
        }



        tr:nth-child(2n+1) td:last-child {
            border-bottom: solid black 3px;
            width: 5%;
        }

        tr:nth-child(2n+1) td:first-child {
            border-bottom: solid black 3px;
            width: 5%;
        }


        tr:nth-child(4n+2) td:last-child {
            vertical-align: top; 
            border-right:solid black 3px;
        }

        tr:nth-child(4n+3) td:last-child {
            vertical-align: bottom; 
            border-right:solid black 3px;
        
        }
    }
}


/**********************************************************************************/


#box-playoff table tbody tr:first-child td:last-child table td:last-child{
  border: 0;
}

#box-playoff table tbody tr:first-child td:first-child table td:first-child{
  border: 0;
}



.playoff-align-bottom {
    td {
        vertical-align: bottom;
    }

/*    
    #last-child {
        border-bottom: solid black 3px;
        width: 5%;
    }    

    #first-child {
        border-bottom: solid black 3px;
        width: 5%;
    }    
*/    
    
}
    
.playoff-align-top td {
    vertical-align: top;
}

