<div id="caption">
            <div id="edit" class="aw-link">
            </div>
            <h1><!--  <%= tournament_id.name %>--> - <%= name %></h1>                     
            <nav> 
               <ul id="path">   
                <li><a href="#!/tournament/<%= tournament_id.id %>/"><%= tournament_id.name %></a></li>
                <li id="current"><a href="#!/team/<%= id %>/"><%= name %></a></li>
                <li><a href="#!/team/<%= id %>/stat/">Statistics</a></li>
                
                <li><a id="edit">edit</a></li>
               </ul>
            </nav>
         </div>  


  <div class="block-7">

<!-- 
    <div class="team-photo-small">
          
      <a id="single_image" href="<%= photo_original %>">
         
      <img id="single_image_small" src="<%= photo_small %>" alt="<%= name %>" width="300" /></a>

    </div>
-->

  </div>

 <div class="block-12-last">
  
  <div id="team-description">

 

  </div>
  
 

</div>

<div class="default-block">

</div>

