{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{{ team0.name }} {{ match.teams.0.scored }} - {{ match.teams.1.scored }} {{ team1.name }}{% endblock %}

{% block path %}
    <li><a href="/tournament/{{ tournament.id }}/">{{ tournament.name }}</a></li>
    <li><a href="/league/{{ league.id }}/">{{ league.name }}</a></li>
    <li><a target="_blank" href="/match/{{ match_id }}/print/">{% trans "Print" %}</a>   
{% endblock %}

{% block content %}

<div class="match-date"><time>{{ match.datetime|date:'d M Y H:i' }}</time></div>
<div class="match-referee">
  <span style ="shift-left">

  <strong>{% trans "Match Referee" %}:</strong>
    {% if match.referees %}
          {% for referee in match.referees %}
                <a class="sw-link" href="/referee/{{ referee.referee_id.id }}/">{{ referee.referee_id.full_name }}</a>
          {% endfor %}
    {% endif %}
  </span> 
  {% if match.place %}<span style ="margin-left: 50px"><strong>{% trans "Place" %}:</strong>{{ match.place }}</span>{% endif %}

</div>


<div class="match-header default-block">
	<div class="block-2 match-header-rating">
	    <a href="/team/{{ team0.id }}/">	
	        {% if team0.rating %}
		        <p class="match-team-rating-title">{% trans "Rating" %}</p>
		        <p class="match-team-rating">{{ team0.rating }}</p>	
	        {% endif %}	
	    </a>		
	</div>

	<div class="block-5-5">
		<p class="match-title-white"><a href="/team/{{ team0.id }}/">{{ team0.name }}</a></p>
	</div>

	
	 <div class="block-5">
	        <p class="match-header-score1">{% if match.teams.0.scored >= 0 %}{{ match.teams.0.scored }}{% else %}?{% endif %}</p>

	        <p class="match-header-score2">{% if match.teams.1.scored >= 0 %}{{ match.teams.1.scored }}{% else %}?{% endif %}</p>      
	</div>



	<div class="block-5-5">
		<p class="match-title-black"><a href="/team/{{ team1.id }}/">{{ team1.name }}</a></p>
	</div>


	<div class="block-2-last match-header-rating">
	    <a href="/team/{{ team1.id }}/">	
	        {% if team1.rating %}
		        <p class="match-team-rating-title">{% trans "Rating" %}</p>
		        <p class="match-team-rating">{{ team1.rating }}</p>	
	        {% endif %}	
	    </a>		
	</div>

</div>
              


<div class="default-block"> 
  <div class="block-8">
    {% with team0 as team %}
      {% with match.teams.0.players as teamplayers %}
      
           {% include 'match/templates/block_players.html'%}
           
      {% endwith %}
    {% endwith %}
  </div>
          
 
 
   <div class="block-8-last">

    {% with team1 as team %}
      {% with match.teams.1.players as teamplayers %}

             {% include 'match/templates/block_players.html'%}
             
      {% endwith %}
    {% endwith %}
  </div>
</div>
   <!--{% include 'match/templates/pool.html' %}-->
    
   {% include 'common/templates/fb_comments.html' %}
{% endblock %}
