{% extends 'common/templates/base.html' %}
{% load i18n %}
{% block containertag %}class="wide"{% endblock %}


{% block bodytag %}{% endblock %}
{% block pageblock %}style="width: 980px;"{% endblock %}


{% block container %}

<div id="container">
    <header role="banner">
        {% include 'common/templates/base_header.html' %}    
        {% include 'common/templates/base_search.html' %}        
    </header>   
     
    {% if request.local_url == "/" %}   
    <!--
    <div id="content-map2" role="main">    
            
        <div class="block-6">

        <div class="section-caption"><h2>{% trans "Tournaments near You" %}:</h2></div>
                  {% if all_tournaments|length %}
                    <ul id="tournament-browse" >
                    </ul>
                  {% endif %}
                  
         </div>     
         <div class="block-14-last"> 
            <div class="map-canvas-main" id="map_canvas"></div>
         </div>    
    </div>
    -->
    {% else %}
        
    {% endif %}
    
    {% include 'common/templates/base_footer.html' %}
</div>

{% endblock %}

