<!DOCTYPE html> 
<html> 
	<head> 
	<title>OnArena.com</title> 
	
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
	
<style type="text/css">
.value
{
    float:right;
    display: block;
    width: 20px;
}
.value-shift {
padding-right: 60px;
}
</style>
</head>	
</head> 
<body> 

<div data-role="page" id="main_page" data-theme="b">
	<div data-role="header" >
		<h1 id="twi_acc">Team</h1>
		<a href="#settings" data-icon="gear" class="ui-btn-right">Options</a>
	</div>
	<div data-role="content" >	
	      
    		<ol data-role="listview" class="ui-listview">
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
				    <div class="ui-btn-inner ui-li">
				        <div class="ui-btn-text">
				            <a href="index.html" class="ui-link-inherit">The Godfather</a>
				        </div>
				        <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
				    </div>
				</li>

		    {% for group in all_groups %}
		    
		
    	        {% with group.all_teams as all_teams %}
        		    {% for item in all_teams %}
                    <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
                        <div class="ui-btn-inner ui-li">
                            <div class="ui-btn-text">
                                <a href="index.html" class="ui-link-inherit"> {{ item.team.name }}
                                </a>
                            </div>
			               <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                        </div>
                    </li>                 			
	        		{% endfor %}		    
        		{% endwith %}		    	        		
        		
        		       		

			{% endfor %}
		    <!--
		    {% for group in all_groups %}
		    
		     <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top ui-btn-up-undefined">
		     <div class="value-shift">
		     Команда
                                  <span class="value">И</span>
                                  <span class="value">В</span>
                                  <span class="value">Н</span>                                  
                                  <span class="value">П</span>                                  
                                  <span class="value">О</span>
                          </div>                 
 
             </li>   
    	        {% with group.all_teams as all_teams %}
        		    {% for item in all_teams %}
                    <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
                        <div class="ui-btn-inner ui-li">
                            <div class="ui-btn-text">
                                <a href="index.html" class="ui-link-inherit"> {{ item.team.name }}
                                  <span class="value">{{ item.team.match_played }}</span>
                                  <span class="value">{{ item.team.won }}</span>
                                  <span class="value">{{ item.team.drew }}</span>                                  
                                  <span class="value">{{ item.team.loss }}</span>                                  
                                  <span class="value">{{ item.team.points }}</span>
                                </a>
                            </div>
                            <span class="ui-icon ui-icon-arrow-r"></span>
                        </div>
                    </li>                 			
	        		{% endfor %}		    
        		{% endwith %}		    	        		
        		
        		       		

			{% endfor %}
			-->
		</ol>
	</div>
	<div data-role="footer">
	</div>
</div>	

</body>
</html>
