{% load i18n %}
        <div class="team-photo-small kray"> 

            <a id="single_image" type="image/jpeg" href="{{ team.photo_original }}"><img type="image/jpeg" src="{{ team.photo_small }}" alt=""/></a>
         </div>

      <div class="caption">{% trans "Voting" %}</div>   
  <div class="block-table">

    <table>


  {% if request.is_owner %}
       <colgroup>
        <col width="8%">
        <col width="8%">
        <col width="50%">
        <col width="16%">
        <col width="8%">
        <col width="8%">
       </colgroup>
   
       <thead>
            <tr>
              <th></th>
              <th>№</th>
              <th>{% trans "Player" %}</th>
              <th><img src="http://commondatastorage.googleapis.com/cometip/images/soccer_ball.png" height="28"></th>
              <th><img src="http://commondatastorage.googleapis.com/cometip/images/yellow_card.png" height="28"></th>
              <th><img src="http://commondatastorage.googleapis.com/cometip/images/red_card.png" height="28"></th>              
            </tr>
       </thead>
       <tbody>

         {% for player in teamplayers %}
 
           <tr> 
              <td><input type="checkbox" name="is_played" value="{{ team.id }}_{{ player.id }}" {% if player.is_played %}checked{% endif %}/>
              </td>  
              <td>{% if player.number %}{{ player.number }}{% endif %}</td>
              <td style="text-align: left;"><a class="sw-link" href="/player/{{ player.id }}/?team_id={{ team.id }}">{{ player.full_name }}</td>
              <td><input type="text" name="goals_{{ team.id }}_{{ player.id }}" class="player-goals" maxlength="3" size="2" value="{% if player.goals %}{{ player.goals }}{% endif %}"/></td>
              <td><input type="checkbox" name="yellow-card" value="{{ team.id }}_{{ player.id }}" {% if player.yellow_card %}checked{% endif %}/>
              </td>
              <td><input type="checkbox" name="red-card" value="{{ team.id }}_{{ player.id }}" {% if player.red_card %}checked{% endif %}/>
              </td>           
      
          </tr>                    
        {% endfor %}  
        
        {% for player in teamplayers_active %}
           <tr> 
              <td><input type="checkbox" name="is_played" value="{{ team.id }}_{{ player.id }}"/>
              </td>  
              <td>{% if player.number %}{{ player.number }}{% endif %}</td>
              <td style="text-align: left;"><a class="sw-link" href="/player/{{ player.id }}/?team_id={{ team.id }}">{{ player.full_name }}</a>
              </td>
              <td><input type="text" name="goals_{{ team.id }}_{{ player.id }}" class="player-goals" maxlength="3" size="2" value=""/>
              </td>
               <td><input type="checkbox" name="yellow-card" value="{{ team.id }}_{{ player.id }}"/>
              </td>
              <td><input type="checkbox" name="red-card" value="{{ team.id }}_{{ player.id }}"/>
              </td>           
      
          </tr>    
         {% endfor %}             
     
  {% else %}

       <colgroup>
        <col width="8%">
        <col width="50%">
        <col width="16%">
        <col width="8%">
        <col width="8%">
    
  <!--      <col width="8%">
        <col width="8%">
        <col width="53%">
        <col width="11%">
        <col width="10%">
        <col width="10%">
   -->
       </colgroup>
   
       <thead>
            <tr>
          <!--    <th></th>-->
              <th>№</th>              
              <th>Игрок</th>
              <th><img src="http://commondatastorage.googleapis.com/cometip/images/soccer_ball.png" height="28"></th>
              <th><img src="http://commondatastorage.googleapis.com/cometip/images/yellow_card.png" height="28"></th>
              <th><img src="http://commondatastorage.googleapis.com/cometip/images/red_card.png" height="28"></th>              
            </tr>
       </thead>
       <tbody>

        {% for player in teamplayers %}
         {% if player.is_played %}
           <tr> 
         <!--     <td><input type="radio" name="poll" value="opt1" id="opt1" /></td> -->
              <td>{% if player.number %}{{ player.number }}{% endif %}</td>
              <td style="text-align: left;"><a class="sw-link" href="/player/{{ player.id }}/?team_id={{ team.id }}">{{ player.full_name }}</a></td>
              <td>{% if player.goals %}{{ player.goals }}{% endif %}
              </td>
              <td>{% if player.yellow_card %}
                  <img src="http://commondatastorage.googleapis.com/cometip/images/yellow_card.png" height="24">{% endif %}
              </td>
              <td>{% if player.red_card %}
                  <img src="http://commondatastorage.googleapis.com/cometip/images/red_card.png" height="24">{% endif %}
              </td>             
      
          </tr>   
        {% endif %}
       {% endfor %} 
    
       
       
  {% endif %}

        </tbody>
      </table>   

    </div>

{% if request.is_owner %}
      <span class="dotted-link">
      <!--<a href="/player/create/?team_id={{ team.id }}&return_url=/match/{{ match.id }}/">{% trans "Add Player" %}</a>-->
      <a href="/team/{{ team.id }}/player/create/?return_url=/match/{{ match.id }}/">{% trans "Add Player" %}</a>      
      </span>


      <div class="sanctions">
        <div class="caption">{% trans "Disqualifications" %}</div>

        <ul>
        {% for item in sanctions %}
        {% ifequal team.id item.team_id.id %}
         <li>              
              
            <span class="event-player"> 
               <select name="sanction_player_id">
                <option value="">{% trans "Choose Player" %}</option>
                {% for player in teamplayers %}
                    <option {% ifequal player.id item.player_id.id %}selected="selected"{% endifequal %} value="{{ team.id }}_{{ player.id }}">{{ player.full_name }}</option>
                {% endfor %}   
                 </option>         
               </select>                
             </span>      

            <span class="remove-field"><img src="http://commondatastorage.googleapis.com/cometip/images/cross.png"/></span>
          </li>    
         {% endifequal %}
         {% endfor %} 
        <li class="empty-addsanction" id="empty-addsanction"></li> 
        </ul>
      </div>

      <span class="dotted-link add-sanction"><a>{% trans "Add Disqualification" %}</a></span>
     

<div class="hidden-element"> 
       
         <li class="dynamic-sanction">              
              
            <span class="event-player"> 
               <select name="sanction_player_id">
                <option selected="selected" value="">{% trans "Choose Player" %}</option>
                {% for player in teamplayers %}
                    <option value="{{ team.id }}_{{ player.id }}">{{ player.full_name }}</option>
                {% endfor %}   
                 </option>         
               </select>                
             </span>      

            <span class="remove-field"><img src="http://commondatastorage.googleapis.com/cometip/images/cross.png"/></span>
          </li>     
</div>
{% else %}

   {% if sanctions %}
      <div class="sanctions">
        <div class="caption">{% trans "Disqualifications" %}</div>

        <ul>
        {% for item in sanctions %}
        {% ifequal team.id item.team_id.id %}
         <li>                          
            <span class="event-player"> 
                {% for player in teamplayers %}
                    {% ifequal player.id item.player_id.id %}{{ player.full_name }}{% endifequal %}
                {% endfor %}         
             </span>      
          </li>    
         {% endifequal %}
         {% endfor %} 

        </ul>
      </div>
   {% endif %}




{% endif %}

