{% load i18n %}
<div id="poll-container">  
    <h3>{% trans "Voting" %}</h3>  
    <form id='poll' action="poll.php" method="post" accept-charset="utf-8">  
        <p>Pick your Match MVP</p>  
        <p>
        
        {% for player in teamplayers1 %}
        <input type="radio" name="poll" value="opt1" id="opt1" />
            <label for='opt1'>&nbsp;{% if player.second_name %}{{ player.second_name }}{% endif %}
                   {% if player.name %}{{ player.name }}{% endif %}
                   ({{ match.teams.0.name }})
                   {% if player.goals %}
                        ({{ player.goals }}&nbsp;{% trans "Goals" %})
                   {% endif %}</label><br />  
       {% endfor %}            
                   

        <input type="submit" value="Vote &rarr;" />
        </p>  
    </form>  
</div>  
