{% load i18n %}


<div id="header-top">
  <div id="nav-login">


      {% block login %}

     
           {% if request.user %}
                
              {% if request.user.profile_url %}
                  <div class="provider" id="profile-picture"><a href="{{ request.user.profile_url }}"><img src="http://graph.facebook.com/{{ request.user.id }}/picture"/></a></div> 
             {% endif %}
       
                  <div class="provider" id="name"><span>{{ request.user.name|escape }}</span></div>
                  <div class="provider" id="logout-button"><a href="/logout/?redirect_to={{ request.local_url }}">{% trans "Log out" %}</a></div>
           {% else %}



               <a href="{{ request.google_login }}" id="customBtn" class="customGPlusSignIn">
                   <span class="icon"></span>
                   <span class="buttonText" style="margin-top: 6px;">{% trans "Login" %}</span>
               </a>



           {% endif %}
       
     {% endblock %}

   </div>



</div>


