{% extends 'common/templates/base.html' %}
{% load i18n %}
{% block container %}
    
<div id="container">
    <header role="banner">
        {% include 'common/templates/base_header.html' %}    
        {% include 'common/templates/base_search.html' %}
    </header>       
    
    
    <section id="content-only">    
    
         <div id="caption">
            <h1>{% block title %}{% endblock %}</h1>                     
         </div>  
         {% block content %}{% endblock %} 
    </section>  

    {% include 'common/templates/base_footer.html' %}
  
</div>

{% endblock %}


