{% load verbatim_templatetag %}

<script id="template-tournament-browse" type="text/x-jquery-tmpl">

 {% include 'common/templates/block_is_owner.html' %}
 
 {% verbatim %}
     {{ if diff < 3000 }}        
         <li>
             <a href="/tournament/${ id }/">
                
                <div class="block-balls">
                   {{ if sport_id == "1001" }}       
                    <img src="https://storage.googleapis.com/onarena/images/soccer_ball.png" width="40"></img>
                   {{ /if }} 
                   {{ if sport_id == "1002" }}        
                    <img src="https://storage.googleapis.com/onarena/images/sport/basketball1.png" width="40"></img>
                   {{ /if }}                    
                   {{ if sport_id == "1003" }}    
                    <img src="https://storage.googleapis.com/onarena/images/sport/voleyball1.png" width="40"></img>
                   {{ /if }} 
                   {{ if sport_id == "1004" }}        
                    <img src="https://storage.googleapis.com/onarena/images/sport/hockey1.png" width="40"></img>
                   {{ /if }}                                       
                </div>
                <div class="block-17">

                     <h1>${ name }</h1>
                     <p>{{ if country != "None" }}${ country }, {{ /if }}{{ if city != "None" }}${ city }{{ /if }}</p>                   
                     <p>{{ if address != "None" }}${ address }{{ /if }}</p>                    
                     <p>${Globalize.localize("Distance")}: ${ diff } km</p> 
                </div>
             </a>
         </li>
      {{ /if }}            
 {% endverbatim %}
</script>
