{% load i18n %}
  {% if request.is_owner %}
  <div class="group-intro">
      <div id="fileupload"> 

        <form action="/image/upload/" method="POST" enctype="multipart/form-data">       

      <!--  <form action="/{{ value }}/{{ value_id }}/photo_upload/" method="POST" enctype="multipart/form-data">  -->

           <input type="hidden" name="item"    value="{{ value }}" />    
           <input type="hidden" name="item_id" value="{{ value_id }}" />  
              
            <div class="fileupload-buttonbar"> 
                <label class="fileinput-button"> 
                    <span>{% trans "Upload Photo" %}</span> 
                    <input type="file" name="files[]" multiple>                 
                </label> 
            </div> 
        </form> 
    <div class="fileupload-content">
        <table class="files">
        </table>
        <div class="fileupload-progressbar"></div>
    </div>
    </div>              
      
    <form action="/image/remove/" enctype="multipart/form-data" method="post">
        <input type="hidden" name="item"    value="{{ value }}" />    
        <input type="hidden" name="item_id" value="{{ value_id }}" />  
        <input class="large red awesome" type="submit" value="{% trans 'Remove Photo' %}">
    </form>

  </div>
  {% endif %} 
