{% load i18n %}
{% load verbatim_templatetag %}


<script id="template-playoff-browse" type="text/x-jquery-tmpl">

{% include 'common/templates/block_is_owner.html' %}
{% verbatim %}

<div class="caption">{{ if name != "terter" }}${ name }{{ /if }}</div>

<div id="box-playoff" class="default-block">
		<table>
          <colgroup>
           {{ if size >= 32}}		  
    	 	   <col width="20%">
               <col width="20%">
               <col width="20%">
               <col width="20%">
               <col width="20%"> 
		   {{ /if }}  

           {{ if size == 16}}		  
    	 	   <col width="25%">
               <col width="25%">
               <col width="25%">
               <col width="25%">
		   {{ /if }}    		  
		   
           {{ if size == 8}}		  
    	 	   <col width="33%">
               <col width="33%">
               <col width="33%">
		   {{ /if }}    
		   
           {{ if size == 4}}		  
    	 	   <col width="50%">
               <col width="50%">
		   {{ /if }}    		   		        		         

           {{ if size <= 2}}		  
               <col width="100%">
		   {{ /if }}  
		                        
          </colgroup>
		  <thead>
   	          {{ if size >= 32}}		  
        		  <th><p>${Globalize.localize("1/16 finals")}</p></th>
    		  {{ /if }}      		         
    		  
   	          {{ if size >= 16}}    		  
        		  <th><p>${Globalize.localize("1/8 finals")}</p></th>
    		  {{ /if }}      		  
    		         
   	          {{ if size >= 8}}    		  
        		  <th><p>${Globalize.localize("Quarter-finals")}</p></th>
    		  {{ /if }}      		 
    		          
   	          {{ if size >= 4}}
        		  <th><p>${Globalize.localize("Semi-finals")}</p></th>
        	  {{ /if }}
        		  
    		  <th><p class="final-gold">${Globalize.localize("Final")}</p></th>   		      		      		      		      		      		  
		  </thead>
		  <tbody>		  
		  
		    <tr>
				        	
        	    {{ if size >= 32 }}
  		            <td>
      		            <div id="box-playoff-table">  		            
          		            <table id="box-playoff-table-${ size }">  		 
              		            <tbody>   
			                    {{ each(i, value) nodes }}
                           		    {{ if playoffstage_id.name == "1/16" }}
	                                    {{tmpl(value) '#template-playoff-browse-node'}}        
                                    {{ /if }}                		       
                    		    {{ /each }}
                                </tbody>
            		    </table>
            		    </div>
                    </td>
		        {{ /if }} 

  		       {{ if size >= 16 }}
  		            <td>
      		            <div id="box-playoff-table">
          		            <table id="box-playoff-table-${ size }">  		 
              		            <tbody>           
			                    {{ each(i, value) nodes }}
                           		    {{ if playoffstage_id.name == "1/8" }}               		    
	                                    {{tmpl(value) '#template-playoff-browse-node'}}  	                                              
                                    {{ /if }}                		       
                    		    {{ /each }}
               		            </tbody>
                		    </table>
            		    </div>
                    </td>
		        {{ /if }} 			        
		        
		        {{ if size >= 8 }}
  		            <td>
      		            <div id="box-playoff-table">  		            
          		            <table id="box-playoff-table-${ size }">  		 
              		            <tbody>   
			                    {{ each(i, value) nodes }}			        
                           		    {{ if playoffstage_id.name == "quarter-final" }}
	                                    {{tmpl(value) '#template-playoff-browse-node'}}     
                                    {{ /if }}                		       
                    		    {{ /each }}
                    		    </tbody>
                		    </table>
            		    </div>
                    </td>
		        {{ /if }}      
		         
		        {{ if size >= 4 }}		         
  		            <td>
      		            <div id="box-playoff-table">  		            
          		            <table id="box-playoff-table-${ size }">  		 
              		            <tbody>   
			                    {{ each(i, value) nodes }}
                           		    {{ if playoffstage_id.name == "semi-final" }}
	                                    {{tmpl(value) '#template-playoff-browse-node'}}
                                    {{ /if }}                                               
                    		    {{ /each }}
               		            </tbody>
                		    </table>
            		    </div>
                    </td>
		        {{ /if }}    
		                  
  		            <td>
      		            <div id="box-playoff-table" class="box-playoff-table-final">  		            
          		            <table id="box-playoff-table-final">  		 
              		            <tbody>   
			                    {{ each(i, value) nodes }}
                           		    {{ if playoffstage_id.name == "final" }}
	                                    {{tmpl(value) '#template-playoff-browse-node'}}
                                    {{ /if }}                                               
                    		    {{ /each }}
                  		    
               		            </tbody>
                		    </table>
            		    </div>
            		    
            		    {{ each(i, value) nodes }}
                        {{ if playoffstage_id.name == "third-place" }}
      		            <div id="box-playoff-table" class="box-playoff-table-third">  		            
          		            <table id="box-playoff-table-third"> 
          		                <thead>
          		                    <tr><th colspan="10"><p class="third-place">${Globalize.localize("Third Place")}</p></th></tr>
          		                </thead>
              		            <tbody>   
			        
	                                    {{tmpl(value) '#template-playoff-browse-node'}}
                  		    
               		            </tbody>
                		    </table>
            		    </div>            		    
            		    {{ /if }}                                               
                    	{{ /each }}

            		    
                    </td>		      
		      </tr>
		     </tbody>
		 </table>
		
		</div>		
{% endverbatim %}

</script>


<script id="template-playoff-browse-node" type="text/x-jquery-tmpl">
      	
{% include 'common/templates/block_is_owner.html' %}

{% verbatim %}
    {{ each(i, competitor) $data.competitors }}

   {{ if i == 0 }}    
    <tr class="playoff-align-bottom">
   {{ else }}    
    <tr class="playoff-align-top">       
   {{ /if }}    
        <td width="5%" id="first-child"></td> 


       {{ if matches.length >= 2 }}<td colspan=1>{{ /if }}                
       {{ if matches.length == 1 }}<td colspan=2>{{ /if }}                
       {{ if matches.length == 0 }}<td colspan=3>{{ /if }}               
       
       {{ if is_owner == true }}
  
           <p>
            <select class="playoff-select-competitors" name="${ competitor.id }">          
               {{ if competitor.team_id }}
                   <option value="${ competitor.team_id.id }" selected="selected">${ competitor.team_id.name }</option>
                   <option value=""></option>                              
               {{ else }}                               
                   <option value="" selected></option>               
               {{ /if }}                
               
            </select>
           </p> 
           
           
                     
           {{ if i == 1 }}
               <div class="add-match dotted" id="box-match-create">                                 
        <a href="/match/create/?league_id={% endverbatim %}{{ league_id }}{% verbatim %}&playoffnode_id=${ $data.id }">
                    ${Globalize.localize("Create Match")}</a>            
               </div>
           {{ /if }}        
           
               
           
        {{ else }} 
         {{ if competitor.team_id }}
                                                                         
            <p><a class="sw-link" href="/team/${ competitor.team_id.id }/" 
                        title="${ competitor.team_id.name }">${ competitor.team_id.name }</a></p>

         {{ else }}
                  <p>&nbsp;</p
         {{ /if }}
       
       {{ /if }}
                                   
       </td>                   



        {{ each(index, match) $data.matches }} 
        <td>        
                <a href="/match/${ match.id }/">
                    {{ each(k, team) match.teams }}
                       {{ if competitor.team_id }} 
                        {{ if team.id==competitor.team_id.id }}
                            {{ if team.played }}
                                <p>${ team.score }</p>
                            {{ else }}
                                <p>?</p>
                            {{ /if }}                   
                        {{ /if }}
                        {{ /if }}                        
                    {{ /each }}
                </a>                  
        </td>     
        {{ /each }} 

  
        
    <td width="5%" id="last-child"></td>    

    </tr>                                       
    {{ /each }}     
{% endverbatim %}                       	
        
</script>
