{% load i18n %}
{% load verbatim_templatetag %}

<script id="template-list-league" type="text/x-jquery-tmpl">

{% include 'common/templates/block_is_owner.html' %}
{% verbatim %}


<li>

{{ if tournament_id.sport_id.id == "1001" }}       
<img src="https://storage.googleapis.com/onarena/images/soccer_ball.png" width="20"></img>
{{ /if }} 
{{ if tournament_id.sport_id.id == "1002" }}        
<img src="https://storage.googleapis.com/onarena/images/sport/basketball1.png" width="20"></img>
{{ /if }}                    
{{ if tournament_id.sport_id.id == "1003" }}    
<img src="https://storage.googleapis.com/onarena/images/sport/volleyball1.png" width="20"></img>
{{ /if }} 
{{ if tournament_id.sport_id.id == "1004" }}        
<img src="https://storage.googleapis.com/onarena/images/sport/hockey1.png" width="20"></img>
{{ /if }}    


<h3><a href="/league/${id}/">${name}</a>


{{ if is_owner == true }}
<!--
   	<img class="remove-league" title="Hide League" league-id="${ id }" src="https://storage.googleapis.com/onarena/images/cross.png" width='16px' height='16px' style="cursor: pointer; margin-left: 5px;"/></span>
-->
{{ /if }} 

</h3>

</li>

{% endverbatim %}
</script>


