<?xml version="1.0" encoding="UTF-8"?> 
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> 
   <url> 
      <loc>{{ DOMAIN }}/</loc> 
      <lastmod>{{ today|date:"Y-m-d" }}</lastmod> 
      <changefreq>daily</changefreq> 
      <priority>0.8</priority> 
   </url>{% if all_tournaments %}{% for item in all_tournaments %}
   <url> 
      <loc>{{ DOMAIN }}/tournament/{{ item.id }}/</loc> 
      <changefreq>weekly</changefreq> 
   </url>{% endfor %}{% endif %}{% if all_leagues %}{% for item in all_leagues %}
   <url> 
      <loc>{{ DOMAIN }}/league/{{ item.id }}/</loc> 
      <changefreq>daily</changefreq> 
   </url>{% endfor %}{% endif %}{% if all_matches %}{% for item in all_matches %}
   <url> 
      <loc>{{ DOMAIN }}/match/{{ item.id }}/</loc> 
      <changefreq>weekly</changefreq> 
   </url>{% endfor %}{% endif %}{% if all_teams %}{% for item in all_teams %}
   <url> 
      <loc>{{ DOMAIN }}/team/{{ item.id }}/</loc> 
      <changefreq>weekly</changefreq> 
   </url>{% endfor %}{% endif %}{% if all_players %}{% for item in all_players %}
   <url> 
      <loc>{{ DOMAIN }}/player/{{ item.id }}/</loc> 
      <changefreq>weekly</changefreq> 
   </url>{% endfor %}{% endif %}
</urlset>
