.footer-block {
    
    width: 100%;
    display: block;
    float: left;
    overflow: hidden;
    
    margin-top: 5px;
    padding-bottom: 10px;    

    text-align: center; 
}


.footer-ul {

    padding: 10px;
    padding-right: 40px;
    
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-style: normal;
    font-variant: normal;    
    
    h4 {
        
        margin-bottom: 8px;
        padding-bottom: 5px;
        padding-top: 5px;        

        
        font-size: 17px;
        font-weight: bold;    
        
        color: #636363;        
        
        height: 16px;
        line-height: 14px;        
        
        border-bottom: thin solid #E1E1E1;
    
    }
  
    li {

        font-size: 16px;        
        font-weight: normal;         
        line-height: normal;
        
        list-style: none;
        margin-bottom: 4px;
        
        a {
        
            color: #4183C4;
            text-decoration: none;
        
        }
    }
    
}    


.copyright {
    border-top: 1px solid #DDD;
    clear: both;
    color: #777;
    font-size: .917em;
    padding: 1em 0 0;
    text-align: center;
}

