

#content-map {
    @include column($content-map);
    
    margin-top: 40px;
}

#content-signup {
//    @include column($content-signup);
    
//    margin-top: 40px;
}



/*     INDEX  PAGE            */

#searchContainer {
    margin: 15px;
    float: left;
}

.map-canvas {
    /*float: right;*/
    /*width: 550px;*/
    height: 350px;
    
    @include column(19);
    
    margin: 5px;
    
    border: 1px solid gray;
    margin-bottom: 20px;
}


.map-canvas-main {
    /*float: right;*/
    /*width: 550px;*/
    height: 500px;
    

    width: 100%;
    //margin: 5px;
    
    //border: 1px solid gray;
    border: 1px solid #E5E5E5;    
    margin-bottom: 20px;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.feature {
    
    
    h1 {
        font: 24px bold Arial, Helvetica, sans-serif;
        color: #444;
        font-weight: bold;    
    }
}

.signupForm {

}

.index-like-box{
    
    margin-top: 330px;

}


/* ----------- signupForm ---------------- */



#signupForm{
}
#signupForm h1 {
    font: 24px bold Arial, Helvetica, sans-serif;
    color: #444;
    font-weight: bold;
    
    margin-bottom:3px;
    line-height: normal;
    text-align: center;
    

}
#signupForm h3 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 18px;
    line-height: normal;
    border-bottom: 1px solid #9AAFCA;
    text-align: center;
    padding-bottom: 3px;
}

#signupForm p{
    font-size: 11px;
    color: #666;
    display: block;
    float: left;
    width: 100%;
    margin-top: 8px;
}

#signupForm label{
    color: #1D2A5B;
    display:block;
    font-weight:normal;
    text-align:right;
    
    width:40%;
    
    float:left;
    font-size:16px;
    /*margin-top: 15px;*/
    padding-right: 5px;
    padding-top: 7px;
}

#signupForm .small{
    color:#666666;
    display:block;
    font-size:15px;
    font-weight:normal;
    text-align:right;
    width:70%;
}
#signupForm input{
    float:left;
    font-size:16px;
    border:solid 1px #aacfe4;
    
    padding: 4px 2px;
    
    width:50%;
    
}

#signupForm select{
    float:left;
    font-size:16px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:50%;
    /*margin:2px 0 20px 10px;*/
}

#signupForm textarea{
    float:left;
    font-size:15px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:50%;
    /*margin:2px 0 20px 10px;*/
}

.left-100{
    margin-left: 100px;
}


#non-stylized-signup input{
    border: 0px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: auto;
    float: left;
}
                       
  
  

/************************************      TOURNAMENT LIST      ********************************/

.tournament-description {
    width: 75%;
    float: left;
}

#tournament-list img{    
    float: left;
    margin-left: 10px;
    margin-right: 10px;    
}

#tournament-list{

    width: 600px;
}

#tournament-list h1{
    text-align: left;
    font-size: 17px;
    font-weight: bold;

    word-wrap:break-word;
    width: 220px;    
    
    color: #2D2D2D;;
}


#tournament-list h2{
    font-size: 18px;
    font-weight: bold;

    color: #2D2D2D;;    
}

#tournament-list h3{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    
    word-wrap:break-word;
    width: 220px;

    color: #2D2D2D;;    
}

#tournament-list ul{

    list-style: none;
    
    margin-top: 15px;
    margin-left: 0;
}

#tournament-list ul li{

    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;    
    width: 280px;
    height: 55px;    
}




