.match-header{

    background-image: url('https://storage.googleapis.com/onarena/images/teams-proba4.1.png?123');
    background-position: center center;    
    
    overflow: hidden; 
    background-size:100%;
    background-repeat: no-repeat;
    //height: 130px;
    
    min-height: 80px;
    
    padding-top: 4.4%;
    
    input {
        font-size: 20px;
    }
    
    select {
        font-size: 20px;
        //height: 40px;
        margin-top: 5px;
    }    
}

.align-center {
    display: inline;
    width: 20%;
    float: left;
    text-align: center;
}

.player-goals {

    padding: 0;
    width: 80%;
    font: normal 18px Arial, Helvetica, sans-serif;
    text-align: center;
}


.team-score{
    width: 50px;
    text-align: center;
}

.match-date {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    
    input {
        font-size: 20px;        
     
    }    
}

.match-referee {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    
    select {
        font-size: 20px;        
        //height: 40px;
    }
}

.match-header-rating {
    //border: 1px solid #89A4B0;
    //margin-top: 32px;
    //@include border-radius(10px);
    
    overflow: visible;
    margin-top: -5px;
    
    min-height: 40px;
   
}





.match-header-photo1{
    width: 80px;
    height: 60px;

    margin-top: 32px;

    margin-left: 33px;
    float: left;
    display: inline-block;

    vertical-align: middle;

    /*border: 1px solid #black;*/

}

.match-team-rating-title{
    text-align: center;
    color: black;
    //margin-top: 5px;
}    

.match-team-rating{

    color: white;
    text-align: center;
    font-size: 30px;

}


.match-header-photo2{
    
    width: 80px;
    height: 60px;
 
    margin-top: 32px;
   

    margin-right: 33px;
    float: right;
    display: inline-block;
  
    vertical-align: middle;

    /*border: 1px solid #black;*/
}




.match-header-name1{

    width: 250px; 
    float: left; 
    text-align: right;
    display: inline-block; 

}

.match-header-name2{
    width: 250px; 
    float: right; 
    text-align: left;
    display: inline-block;
}

p.match-title-black {
    text-align: center;
    overflow: hidden;
    
    a {
        color: #000; 
        font-size: 30px;
        text-decoration: none;
    }
}

p.match-title-white {
    text-align: center;
    overflow: hidden;
    
    a {
        color: #fff; 
        font-size: 30px;
        text-decoration: none;
    }
}



.match-header-score1{
    color: #fff; 
    font-size: 30px;
    display:inline;
    
    float: left;
    margin-left: 13%;
    

}

.match-header-score2 {
    color: #fff; 
    font-size: 30px;
    display:inline;
    
    float: right;
    margin-right: 10%;
   
}

