{% load i18n %}

{% load verbatim_templatetag %}

<script id="template-league-item" type="text/x-jquery-tmpl">

{% verbatim %}
         <div id="caption">
            <div id="edit" class="aw-link">
                <div class="aw-link">
                    <span class="large red awesome" id="league-edit">
                        Edit League &raquo;</span>
                </div>
            </div>
            <h1>${ tournament_id.name } - ${ name }</h1>                     
            <nav> 
               <ul id="path">   
                <li><a href="#!/tournament/${ tournament_id.id }/">${ tournament_id.name }</a></li>
                <li id="current"><a href="#!/league/${ id }/">${ name }</a></li>
                <li><a href="#!/league/${ id }/stat/">Statistics</a> 
               </ul>
            </nav>
         </div>  

{% endverbatim %}
  <div class="stat">
      <div class="block-1-logo"> 
         <img src="http://commondatastorage.googleapis.com/cometip/tournaments/1001/logo2.jpg" height="189" width="220" /></img>

      </div>
      <div class="block-2-info"> 
         <ul>

         <li>Начало:</li>    
         <li class="stat-shift">1 февраля 2011г.</li>
         <li>2 тайма по 20 минут</li>



         <li>{% trans "Points for a win" %}: 3</li>
         <li>{% trans "Points for a draw" %}: 1</li>
         <li>{% trans "Points for a loss" %}: 0</li>
         <li>{% trans "Teams" %}: {{ league.teams }}</li>
         <li>{% trans "Matches" %}:</li>
         <li class="stat-shift">{% trans "scheduled" %}: {{ league.games }}</li>
         <li class="stat-shift">{% trans "played" %}: {{ league.played }}</li> 
         <li class="stat-shift">{% trans "not played" %}: {{ league.non_played }}</li>
         <li>{% trans "Goals scored" %}: {{ league.goals }}</li>
         <li class="stat-shift">{% trans "per game" %}: {{ league.goals_avg }}</li>
         <li>{% trans "Yellow Cards" %}: {{ league.yellow_cards }}</li>
         <li>{% trans "Red Cards" %}: {{ league.red_cards }}</li>
         <ul>
      </div>
      <div class="block-3-stat"> 

          <div class="caption">{% trans "TOP-10 Strikers" %}</div>

          <div class="block-table">
            <table>
              <colgroup>
                <col width="20%">
                <col width="40%">
                <col width="40%">
                </colgroup>
              <thead> 
                <tr>
                <th><div class="match-overview-icons"  title="{% trans 'Goals' %}">
                          <img src="http://commondatastorage.googleapis.com/cometip/images/soccer_ball.png" height="28"></div></th>
                <th><div title="{% trans 'Player' %}"></div>{% trans "Player" %}</th>
                <th><div title="{% trans 'Team' %}"></div>{% trans "Team" %}</th>
                </tr>
             </thead>
             <tbody>
             {% if all_goals|length %}
                {% for player in all_goals %}
                    <tr>
                        <td><b>{{ player.score }}</b></td>
                        <td><a class="sw-link" href="/player/{{ player.player_id.id }}/?team_id={{ player.team_id.id }}">{{ player.player_id.full_name }}</a>
                        </td>
                        <td><a class="sw-link" href="/team/{{ player.team_id.id }}/">{{ player.team_id.name }}</a>
                          </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
              </tbody>
         </table>
        </div>
      <div class="aw-link">
          <a class="large orange awesome" href="#!/league/${ id }/stat/">{% trans "Full Statistics" %} &raquo;</a>
      </div>

      </div>
 </div>

  {% if request.is_owner %}
   
      
       <div class="aw-link default-block">
        <span class="large orange awesome" style="margin-left: 30px;" id="playoff-create">{% trans "Create Playoff" %} &raquo;</span>
       </div> 

  
  
<!--   href="/league/{{ league_id }}/playoff/create/"-->

  {% endif %}


<div id="playoff-browse"  class="default-block"></div>
<div id="group-browse"  class="default-block"></div>

<div class="default-block">
{% include 'match/templates/browse.html' %}
</div>

</script>

