{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{% trans "Create a New Team" %}{% endblock %}

{% block path %}
    <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
    <li id="current"><a href="/league/{{ league.id }}">{{ league.name }}</a></li>
{% endblock %}

{% block content %}

  <div id="stylized" class="myform form-player-add">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Add Team" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>

      <input type="hidden" name="league_id" value="{{ league.id }}" />
      <input type="hidden" name="group_id" value="{{ group_id }}" />
      <input type="hidden" name="team_add" value="" />    
                

      <label>{% trans "Team" %}</label>
      <select class="team_add" name="team_add">
            <option value="" selected>{% trans "Choose Team" %}</option>
        {% for item in all_teams %}
            <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
      </select>
       
      
      <div id="loading_throbber"></div>            



    <div id="non-stylized">
      <input class="large orange awesome" type="submit" value='{% trans "Add Team"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>

  </div>
      <div class="or-break">...  {% trans "or" %}  ...</div>

  <div id="stylized" class="myform">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Create Team" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>
      <input type="hidden" name="league_id" value="{{ league.id }}" />
      <input type="hidden" name="team_create" value="" />

      <label>{% trans "Team Name" %}</label>
      <input type="text" id="team_name" name="team_name" value="" />
<!--
      <label>{% trans "League" %}</label>
      <select name="league_id">
        {% for league in owned_leagues %}
            <option value="{{ league.id }}" {% ifequal league.id league_id %}selected{% endifequal %}>{{ league.name }}</option>
        {% endfor %}
      </select>
    -->

    <div id="non-stylized">
      <input class="large orange awesome" type="submit" value='{% trans "Create Team"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>

  </div>


{% endblock %}
