{% extends 'league/templates/league_base.html' %}

{% block league_body %}
  <div id="group-intro">
    <p class="description">
    Leagues are a way for multiple people to post to the same stream.
    </p>
    <p>
    To start posting to a league, go to its page, click Join, and type 
    your message in the field that appears.
    </p>
    <p>
    Leagues allow you to separate conversations, because messages posted to 
    a league are not displayed on your personal stream. 
    If you think your followers should follow the topic, tell them to join 
    the league!
    </p>
  </div>
  <h2>Want your own leagues?</h2>
  <p>
  To create your own leagues you'll need to 
  <a href="/login?redirect_to={{request.path}}">Sign in</a> or
  <a href="/join">Sign up</a>.
  </p>
{% endblock %}
