{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<STYLE type="text/css">
@media print {
   BODY {width:100%;}
@page :first{
/*size:A4 landscape;*/
}
  
}


table
{
    border-collapse:collapse;
}


td {
  min-width: 30px;
}
</style>
</head>

<title>www.onarena.com</title>
<body>

{% for group in all_groups %}
    {% with group.all_teams as all_teams %}
        {% include 'league/templates/block_group_print.html' %}
    {% endwith %}        
{% endfor %}

     

    {% if last_matches %}
	<div id="tabs-3" style="page-break-before:always">
  <h2>{{ tournament.name }}  &rarr;  {{ league.name }} &rarr; {% trans "Schedule" %}</h2> 
		<div class="events"  style="margin-bottom: 40px;">
      <table width="90%" border="0" cellspacing="0" cellpadding="1">
    <tbody>
    {% for match in last_matches %}
      {% if match.is_new_date %}
          <tr>
          <td colspan="50" align="left">
          <h4 style="margin-left:50px; margin-bottom:0px;margin-top:20px;">{{ match.datetime|date:"D, d M. Y" }}</h4>
          </td>
          </tr>
       {% endif %}
      <tr>
      <td align="right" width="">{{ match.datetime|date:"H:i" }}</td>
      <td align="right" width=""> {{ match.teams.0.name }} </td>

                {% if match.result|length %}
                    <td>{{  match.result  }}</td>
                {% else %}
                   <td align="center">
                   <b>{% if match.teams.0.played %} {{ match.teams.0.score }} {% else %} ? {% endif %} - {% if match.teams.1.played %} {{ match.teams.1.score }} {% else %} ? {% endif %}</b></td>
                {% endif %}
       <td align="left" width="">{{ match.teams.1.name }}</td>
  
     <td align="left" width="300">
       {% if match.place %}{{ match.place }}<br/>{% endif %}
       {% if match.sanctions %}
        {% trans "Disqualifications" %}:
        {% for player in match.sanctions %}
          {{ player.player_id.full_name }}({{ player.team_id.name }}){% if not forloop.last %},{% endif %}
        {% endfor %}  
       {% endif %}
        </td>
       </tr>

    {% endfor %}

    </tbody>
    </table>

    </div>
	</div>
<font face="Tahoma"><span style="font-size: 12pt; text-decoration: none">* {% trans 'Full Tournament Statistics on site' %}: <b>www.onarena.com</b></span></font>
</div>
  {% endif %}


{% if all_goals %}
	<div id="tabs-4" style="page-break-before:always">
  <h2>{{ tournament.name }}  &rarr;  {{ league.name }}  &rarr; {% trans "Strikers" %}</h2> 
		<div class="events"  style="margin-bottom: 40px;">
      <table width="95%" border="1" cellspacing="0" cellpadding="5">
      <thead> 
        <tr>
        <th><div class="match-overview-icons"  title="{% trans 'Goals' %}">{% trans 'Goals' %}</div></th>
        <th><div title="{% trans 'Player' %}"></div>{% trans "Player" %}</th>
        <th><div title="{% trans 'Team' %}"></div>{% trans "Team" %}</th>
        <th><div title="{% trans 'Cards' %}"></div>{% trans "Cards" %}</th>
        </tr>
     </thead>
     <tbody>
     {% if all_goals|length %}
        {% for player in all_goals %}
            <tr>
                <td align="center"><div><b>{{ player.score }}</b></div></td>
                <td><div class="events-left">{{ player.player_id.full_name }}</div></td>
                <td><div class="events-left">{{ player.team_id.name }}</div></td>
                <td width="200"><div class="events-left">{% if player.yellow_cards %}{% trans "Yellow Cards" %}: {{ player.yellow_cards }}    {% endif %}{% if player.red_cards %}{% trans "Red Cards" %}:{{ player.red_cards }}{% endif %}</div></td>
            </tr>
        {% endfor %}
    {% endif %}
      </tbody>
     </table>
    </div>
  </div>
 </div>

<font face="Tahoma"><span style="font-size: 12pt; text-decoration: none">* {% trans 'Full Tournament Statistics on site' %}: <b>www.onarena.com</b></span></font>
</div>

{% endif %}

<!--
<SCRIPT LANGUAGE="JavaScript">
if (window.print) {
document.write('<form> '
+ '<input type=button name=print value="{% trans 'Print' %}" '
+ 'onClick="javascript:window.print()"> {% trans 'Click To Print this page!' %}</form>');
}

</script>
-->


</body>
</html>

