<html>
<body>
<h3>{{ tournament.name }}</h3><h1>{{ league.name }} </h1>
             <form action="/league/{{ league.id }}/upload/" enctype="multipart/form-data" method="post">
                <input type="hidden" name="tournament_upload" value="" />
                <input type="hidden" name="league" value="{{ league.id }}" />
                <div><input class="large" type="file" name="img"/></div>
                <div><input class="large green awesome" type="submit" value="Upload Tournament"></div>
              </form>
</body>
</html>
