{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{% trans "Create Referee" %}{% endblock %}

{% block path %}
    <li><a href="/tournament/">{% trans "Tournaments" %}</a></li>
    <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
    <li class="id"><a href="/tournament/{{ tournament.id }}/referees/">{% trans "Referees" %}</a></li>
{% endblock %}

{% block content %}

  <div id="stylized" class="myform form-player-create">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Create New Referee" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>
      <input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
      <input type="hidden" name="referee_create" value="true" />


      <label>{% trans "Second Name" %}</label>
      <input type="text" id="referee_second_name" name="referee_second_name" value="" />

      <label>{% trans "First Name" %}</label>
      <input type="text" id="referee_name" name="referee_name" value="" />


      <label>{% trans "Birthday" %}</label>
      <input type="text" id="datepicker" name="datepicker" value="" />

    <div id="non-stylized">
      <input class="large orange awesome" type="submit" value='{% trans "Create Referee"  %}'/>
    </div>
    <div class="spacer"></div>

   </form>
  </div>

{% endblock %}
