  template HTML FriendList(List<Friend> friends) {
    <div>Friends:
      <ul>
        ${#each friends}          // Iterates over each friend
          <li>${name}</li>        // Scope of block is Friend type
        ${/each}
      </ul>
    </div>
  }
