template TeamView(TeamInterface data) {
    
    <div id="caption">
        <div id="edit" class="aw-link"></div>
        <h1>${data["name"]}</h1>                     

            <ul id="path">   
                <li><a href='/#!/tournament/${data["tournament_id"]["id"]}/'>${data["tournament_id"]["name"]}</a></li>
                <li><a href='/#!/tournament/${data["tournament_id"]["id"]}/teams/'>Teams</a></li>    
                <li id="current"><a href='/#!/team/${data["id"]}/'>${data["name"]}</a></li>
  				
  				
                <li><a href='/team/${data["id"]}/edit/'>Edit</a></li>
              
            </ul>
    </div>  
    
  
  <div class="block-7">

        <div class="team-photo-small">
          
          <a id="single_image" href="">                                     
              <img id="single_image_small" src='${data["photo_small"]}' alt=""/>
          </a>

        </div>

  </div>


  <div class="block-12-last">
   
      <div id="team-description">
        
            <p>
                <label for="id_name">Team Name:</label>
                <span name="name" id="id_name">${data["name"]}</span>
            </p>
        
      </div>
  
     <div class="caption">All Players</div>
     
       <div class="block-table">
          <table>
    
          <thead>
            <tr>
                  <td id="first"></td>
                  <td>Player</td>
                  <td>Rating</td>              
                  <td class="match-overview-icons"><img src="http://commondatastorage.googleapis.com/cometip/images/yellow_card.png" height="28"/></td>
                  <td class="match-overview-icons"><img src="http://commondatastorage.googleapis.com/cometip/images/red_card.png" height="28"/></td>
                  <td class="match-overview-icons"><img src="http://commondatastorage.googleapis.com/cometip/images/soccer_ball.png" height="28"/></td>
            </tr>
          </thead>
           <tbody>

          </tbody>
        </table>
      </div>
      
  </div>

    <div id="match-browse" class="default-block"></div>
   
}
