{% load i18n %}

{% load verbatim_templatetag %}

<script id="template-team-browse" type="text/x-jquery-tmpl">

{% verbatim %}
         <div id="caption">
            <div id="edit" class="aw-link">
            </div>
            <h1>${ name }</h1>                     
            <nav> 
               <ul id="path">   
                <li><a href="#!/tournament/${ id }/">${ name }</a></li>
                <li id="current">
               <a href="#!/tournament/${ id }/teams/">${ name }</a></li> 
               </ul>
            </nav>
         </div>  

{% endverbatim %}
<div class="block-15">
  <div class="caption lfloat">{% trans "Teams" %}</div>
  <div class="block-table">
    <table>
       <colgroup>
        <col width="15%">
        <col width="15%">
        <col width="70%">
       </colgroup>
      <thead> 
        <tr>
        <th>{% trans "Rating" %}</th>
        <th>{% trans "Ranking" %}</th>
        <th>{% trans "Team" %}</th>
        </tr>
     </thead>
     <tbody id="list-teams">
      </tbody>
     </table>
    </div>

</div>
  
</script>

<script id="template-team-browse-items" type="text/x-jquery-tmpl">
{% verbatim %}
            <tr>
                <td>{{ if rating }}${ rating }{{ /if }}</td>
                <td>{{ if ranking }}${ ranking }{{ /if }}</td>                
                <td>
                    <div class="lfloat">
                    <a class="sw-link" href="#!/team/${ id }/">${ name }</a>
                    </div>
                </td>
            </tr>
{% endverbatim %}
</script>

