{% extends 'common/templates/base.html' %}
{% load i18n %}
{% block containertag %}class="wide"{% endblock %}


{% block bodytag %}{% endblock %}
{% block pageblock %}style="width: 980px;"{% endblock %}


{% block container %}

<div id="container">
    <header role="banner">
        {% include 'common/templates/base_header.html' %}    
    </header>   
              
    <div id="content-signup">  
        <div id="signupForm" class="signupForm rfloat">
         <form id="form" name="form" method="post" action="/create/step1/">{% csrf_token %}
            <p>
                <h1>{% trans "Create a New Tournament" %}</h1>              
            </p>
            <p></p>
            <input type="hidden" name="tournament_create" value="" />              
            <p>
                <label for="sport_id">{% trans "Sport" %}:*</label>
                <select name="sport" id="sport_id">
                    <option value="">{% trans "Choose Sport" %}</option>                        
                    <option value="1001">{% trans "Soccer" %}</option>        
                    <option value="1002">{% trans "Basketball" %}</option>                            
                    <option value="1003">{% trans "Volleyball" %}</option>                            
                    <option value="1004">{% trans "Hockey" %}</option>
                </select>
            </p>  
        

    <p><label for="id_name">{% trans "Tournament Name" %}:</label>
            <input type="text" name="name" value="" id="id_name"></p>           
            
    <p><label for="id_address">{% trans "Address" %}:</label>
        <input type="text" name="address" value="" id="id_address"></p>
                            
            
    <p><label for="id_contacts">{% trans "Contacts" %}:</label>
            <input type="text" name="contacts" value="" id="id_contacts"></p>
                       
    <p><label for="id_url">{% trans "Website" %}:</label>
        <input type="text" name="url" value="" id="id_url"></p>

    <p><label for="id_email">{% trans "E-mail" %}:</label>
        <input type="text" name="email" value="" id="id_email"></p>
        
    <p><label for="id_about">{% trans "About Tournament" %}:</label>
            <textarea id="id_about" rows="10" cols="40" name="about"></textarea></p>
                                          
            <p>
                <label for="id_location">{% trans "Location" %}:*</label>
                <input type="text" name="location" id="id_location" disabled="disabled"/>
            </p>                  
                  
           <p></p>
             
           <div id="non-stylized-signup">
                <input class="large orange awesome left-100" type="submit" 
                            value="{% trans 'Create Tournament'  %}">
           </div>
           <div class="spacer"></div>
           
          </form> 
  
        </div>
                       
    </div>     
    <div id="content-map" role="main">    

        <div class="default-block"> 
            <div id="caption">
                <h1>{% trans "Point your Tournament location" %}</h1>   
            </div>            
            <div id="searchContainer">

                    <input id="search_address" type="text" placeholder="{% trans 'type your address' %}" autofocus="autofocus">
                    <input id="search_submit"  type="submit" value="Search">                     

             
            </div>
            <div class="map-canvas-main" id="map_canvas"></div>
        </div>        
        
    </div>
    
    {% include 'common/templates/base_footer.html' %}
</div>

{% endblock %}

