{% extends 'common/templates/base.html' %}
{% load i18n %}
{% block containertag %}class="wide"{% endblock %}


{% block bodytag %}{% endblock %}
{% block pageblock %}style="width: 980px;"{% endblock %}


{% block container %}

<div id="container">
    <header role="banner">
        {% include 'common/templates/base_header.html' %}    
        {% include 'common/templates/base_search.html' %}          
    </header>   
              
 <div id="content-map2" role="main">      
   <div class="block-8">            

        <div id="signupForm" class="signupForm rfloat">
         <form id="form" name="form" method="post" action="/create/">{% csrf_token %}
            <p>
                <h1>{% trans "Create a New Tournament" %}</h1>  
                <h3>{% trans "It's simple and absolutely free" %}</h3>                  
            </p>
            <p></p>
            <input type="hidden" name="tournament_create" value="" />              
            <p>
                <label for="sport_id">{% trans "Sport" %}:*</label>
                <select name="sport" id="sport_id" required="required" >
                    <option value="">{% trans "Choose Sport" %}</option>                        
                    <option value="1001">{% trans "Soccer" %}</option>        
                    <option value="1002">{% trans "Basketball" %}</option>
                    <option value="1003">{% trans "Volleyball" %}</option>
                    <option value="1004">{% trans "Hockey" %}</option>
                </select>
            </p>  
        

    <p><label for="id_name">{% trans "Tournament Name" %}:*</label>
            <input type="text" name="name" value="" id="id_name" required="required"></p>           

    <p><label for="id_country">{% trans "Country" %}:*</label>
        <input type="text" name="country" value="" id="id_country" required="required"></p>
        
    <p><label for="id_city">{% trans "City" %}:*</label>
        <input type="text" name="city" value="" id="id_city" required="required"></p>        
            
    <p><label for="id_address">{% trans "Address" %}:*</label>
        <input type="text" name="address" value="" id="id_address" required="required"></p>
                            
            
    <p><label for="id_contacts">{% trans "Contacts" %}:</label>
            <input type="text" name="contacts" value="" id="id_contacts"></p>
                       
    <p><label for="id_url">{% trans "Website" %}:</label>
        <input type="text" name="url" value="" id="id_url"></p>

    <p><label for="id_email">{% trans "E-mail" %}:</label>
        <input type="text" name="email" value="" id="id_email"></p>
        
    <p><label for="id_about">{% trans "About Tournament" %}:</label>
            <textarea id="id_about" rows="10" cols="40" name="about"></textarea></p>
                                          
    <p>
        <label for="id_location">{% trans "Location" %}:*</label>
        <input type="text" name="location" id="id_location" disabled="disabled" required="required"/>
    </p>    
    
     <input type="hidden" name="lat" id="id_lat" value="{{ lat }}" />                     
     <input type="hidden" name="lon" id="id_lon" value="{{ lon }}" />    
     
     <input type="hidden" name="user" id="id_user" value="{{ request.user.id }}" />  
             
     
   <p></p>
     <!--
   <div id="non-stylized-signup">
        <input class="large orange awesome left-100" type="submit" 
                    value="{% trans 'Create Tournament'  %}">
   </div>
   -->
   <div class="spacer"></div>
   
  </form> 

                       
    </div>     

         </div>     
         <div class="block-12-last"> 
            <div class="map-canvas-main" id="map_canvas"></div>
         </div>    
         </div>     
    {% include 'common/templates/base_footer.html' %}
</div>

{% endblock %}

