{% extends 'common/templates/base_wide.html' %}
{% load i18n %}

{% block title %}{{ tournament.name }}{% endblock %}
{% block caption %}{{ tournament.name }}{% endblock %}

{% block path %}
    <li><a href="/tournament/">{% trans "Tournaments" %}</a></li>
    <li id="current"><a href="/tournament/{{ tournament.id }}/">{{ tournament.name }}</a></li>
{% endblock %}

{% block edit %}
    <div class="aw-link">
        <a class="large red awesome" href="/tournament/{{ tournament.id }}/edit/">{% trans "Edit Tournament" %} &raquo;</a>
    </div> 
{% endblock %}

{% block content %}
<div class="block-10"> 
   
    <div class="default-block">  
        <p>{{ tournament.about }}</p>
    </div>
    <div class="leagues default-block">  
    
    
    {% if all_leagues|length %}
        <ul id="list-league">
        {% for league in all_leagues %}
          <li {% cycle '' 'class="odd"' %}>
            <h3><img src="https://storage.googleapis.com/onarena/images/soccer_ball.png" width="20"></img>
            <a href="/league/{{  league.id  }}/">{{  league.name  }}</a></h3>
            {% if league.description %}
              <p>{{league.description|truncatewords:5}}</p>
            {% endif %}

              <p class="members">

                {% if request.is_owner2 %}
                <a class="large green awesome" href="/league/{{  league.id  }}/settings/">{% trans "Settings" %}</a>
                {% endif %}
              </p>


          </li>
        {% endfor %}
         </ul>
      {% endif %}
    </div>
      {% if request.is_owner %}
      <div id="group-intro">
        <p class="centered">
          <a class="large green awesome" href="/league/create/?tournament_id={{ tournament.id }}">{% trans "Create New League" %}</a>
        </p>
      </div>
      {% endif %}
</div>  
  
<div class="block-9-last">
    <h1>{% trans "Contacts" %}</h1>
    <div class="map-canvas" id="map_canvas"></div>
    <p><b>{% trans "Address" %}:</b>  {{ tournament.address }}</p>
    <p><b>{% trans "Contacts" %}:</b>  {{ tournament.contacts }}</p>
    <p><b>{% trans "Email" %}:</b>  {{ tournament.email }}</p>
    <p><b>{% trans "URL" %}:</b>  {{ tournament.url }}</p>
</div>

{% endblock %}
