{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{% trans "Create News" %}{% endblock %}

{% block path %}
    <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
    <li id="current">{% trans "News" %}</li>
{% endblock %}

{% block content %}

  <div id="stylized-news" class="form-news">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Create News" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>
      <input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
      <input type="hidden" name="news_create" value="true" />

      <div class="news-row">
          <label>{% trans "Title" %}</label>
          <input type="text" id="name" name="name" value="" />
      </div>
      <div class="news-row"><label>{% trans "News" %}</label></div>

		<div class="news-row">
			<textarea id="elm1" name="content" rows="15" cols="80" style="width: 100%" class="tinymce">
			</textarea>
		</div>      

    <div id="non-stylized" class="shift-left">
      <input class="large orange awesome" type="submit" value='{% trans "Save News"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>

  </div>

{% endblock %}
