{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{% trans "Edit News" %}{% endblock %}

{% block path %}
    <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
    <li id="current"><a>{% trans "Edit" %}</a></li>
{% endblock %}

{% block content %}

  <div id="stylized-news" class="form-news">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Edit News" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>
      <input type="hidden" name="news_id" value="{{ news.id }}" />
      <input type="hidden" name="news_edit" value="true" />
    

      <div class="news-row">
          <label>{% trans "Title" %}</label>
          <input type="text" id="name" name="name" value="{{ news.name }}" />
      </div>
      <div class="news-row"><label>{% trans "News" %}</label></div>      
      
      <!--<div class="news-row"><textarea name="content" rows="10" >{{ news.content }}</textarea></div>-->

		<div class="news-row">
			<textarea id="elm1" name="content" rows="15" cols="80" style="width: 100%" class="tinymce">
			{{ news.content }}
			</textarea>
		</div>
      
      

    <div id="non-stylized" class="shift-left">
      <input class="large orange awesome" type="submit" value='{% trans "Save News"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>
  

  </div>
  <div id="fileupload"> 
    <form action="/news/{{ news.id }}/photo_upload/" method="POST" enctype="multipart/form-data"> 
       <input type="hidden" name="item"    value="news" />    
       <input type="hidden" name="item_id" value="{{ news.id }}" />  
        <div class="fileupload-buttonbar"> 
            <label class="fileinput-button"> 
                <span>{% trans "Upload Photo" %}</span> 
                <input type="file" multiple="multiple" name="files[]" accept="image" required="required"/> 
            </label> 
            <!--<button type="submit" class="start">Start upload</button>
            <button type="reset" class="cancel">Cancel upload</button>
            <button type="button" class="delete">Delete files</button>
            --> 
        </div> 
    </form> 
    <div class="fileupload-content"> 
        <table class="files"> 
          {% if news.photos %}        
          <tbody>
           {% for image in news.photos %}                          
            <tr class="template-download" style="">
                <td class="preview">
                    <a href="" target="_blank"><img src="{{ GOOGLE_BUCKET }}{{ image.photo_small }}" width=80></a>
                </td>
                <td class="name">
                    <a href="" target="_blank">{{ image.blob_key }}</a>
                </td>
                <td class="size"></td>
                <td colspan="2"></td>
                <td class="delete">
                    <button data-type="DELETE" data-url="/image/remove/dYkpHWrvI2FCz6YRVYEk_Q==/" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="Delete">
                        <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
                        <span class="ui-button-text">Delete</span>
                    </button>
                </td>
            </tr>
           {% endfor %}                
          </tbody>
          {% endif %}
          </table>
        <div class="fileupload-progressbar"></div> 
    </div> 
</div> 

{% endblock %}
