{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{% trans "Create a New Player" %}{% endblock %}

{% block path %}
    <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
    <li class="current"><a href="/team/{{ team.id }}">{{ team.name }}</a></li>
{% endblock %}

{% block content %}

  <div id="stylized" class="myform form-player-add">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Add Player from Other Team" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>

      <input type="hidden" name="player_create" value="false" />
      <input type="hidden" name="team_id" id="team_id" value="{{ team.id }}" />      
      
      <input type="hidden" name="player_id" id="player_id" value="" />    
                 
      <input type="hidden" name="player_number" value="" />           
   

      <label>{% trans "Player" %}</label>      
      <input id="autocomplete" />
            

    <div id="non-stylized">
      <input class="large orange awesome" type="submit" value='{% trans "Add Player"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>

  </div>
      <div class="or-break">...  {% trans "or" %}  ...</div>
  <div id="stylized" class="myform form-player-create">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Create New Player" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>
      <input type="hidden" name="team_id" value="{{ team.id }}" />
      <input type="hidden" name="player_create" value="true" />


      <label>{% trans "Second Name" %}</label>
      <input type="text" id="player_second_name" name="player_second_name" value="" />

      <label>{% trans "First Name" %}</label>
      <input type="text" id="player_name" name="player_name" value="" />

      <label>{% trans "Third Name" %}</label>
      <input type="text" id="player_third_name" name="player_third_name" value="" />

      <label>{% trans "Player Number" %}</label>
      <input type="text" id="player_number" name="player_number" value="" />

      <label>{% trans "Position" %}</label>
      <select name="player_position">
            <option value="" selected>{% trans "Choose Position" %}</option>
        {% for item in all_positions %}
            <option value="{{ item.id }}">{{ item.title }}</option>
        {% endfor %}
      </select>

      <label>{% trans "Birthday" %}</label>
      <input type="text" id="datepicker" name="datepicker" name="player_birthday" value="" />

      <label>{% trans "Height" %}</label>
      <input type="text" id="player_height" name="player_height" value="" />

      <label>{% trans "Weight" %}</label>
      <input type="text" id="player_weight" name="player_weight" value="" />

    <div id="non-stylized">
      <input class="large orange awesome" type="submit" value='{% trans "Create Player"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>

  </div>

{% endblock %}
