{% extends 'common/templates/base_wide.html' %}
{% load i18n %}
{% block title %}{{ player.full_name }}{% endblock %}

{% block path %}
    <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
    <li><a href="/player/{{ player.id }}/">{{ player.full_name }}</a></li>
    <li id="current"><a href="/player/{{ player.id }}/edit/">{% trans "Edit" %}</a></li>                                                        
{% endblock %}

{% block content %}
  <div id="stylized" class="myform">
    <form id="form" name="form" method="post" action="">
      <h1>{% trans "Edit Player" %}</h1>
      <!--<p>This is the basic look of my form without table</p>-->
      <p></p>
      <input type="hidden" name="player_id" value="{{ player.id }}" />
      <input type="hidden" name="player_edit" value="" />
      <input type="hidden" name="team_id" value="{{ team.id }}" />


      <label>{% trans "Second Name" %}</label>
      <input type="text" id="player_second_name" name="player_second_name"
                                    value="{% if player.second_name %}{{ player.second_name }}{% endif %}" />

      <label>{% trans "First Name" %}</label>
      <input type="text" id="player_name" name="player_name" 
                                    value="{% if player.name %}{{ player.name }}{% endif %}" />

      <label>{% trans "Third Name" %}</label>
      <input type="text" id="player_third_name" name="player_third_name" 
                                    value="{% if player.third_name %}{{ player.third_name }}{% endif %}" />

      <label>{% trans "Player Number" %}</label>
      <input type="text" id="player_number" name="player_number" 
                                    value="{% if player.number %}{{ player.number }}{% endif %}" />

      <label>{% trans "Position" %}</label>
      <select name="player_position">
            <option value="">{% trans "Choose Position" %}</option>
        {% for item in all_positions %} 
            <option value="{{ item.id }}" {% ifequal item.id player.position_id.id %}selected{% endifequal %}>{{ item.title }}</option>
        {% endfor %}
      </select>

      <label>{% trans "Birthday" %}</label>
      <input type="text" id="datepicker" name="datepicker" name="player_birthday" 
                                    value="{% if player.datetime %}{{ player.datetime|date:'d.m.Y'}}{% endif %}" />

      <label>{% trans "Height" %}</label>
      <input type="text" id="player_height" name="player_height" 
                                    value="{% if player.height %}{{ player.height }}{% endif %}" />

      <label>{% trans "Weight" %}</label>
      <input type="text" id="player_weight" name="player_weight" 
                                    value="{% if player.weight %}{{ player.weight }}{% endif %}" />

    <div id="non-stylized">
      <input class="large orange awesome" type="submit" value='{% trans "Save Player"  %}'/>
    </div>
    <div class="spacer"></div>

  </form>

  </div>

{% endblock %}
