{% load i18n %}
{% load verbatim_templatetag %}
{% verbatim %}
<script id="template-news-item" type="text/x-jquery-tmpl">

    {{ if tournament_id }}  
         <div id="caption">
            <div id="edit" class="aw-link">
                <div class="aw-link">
                    <span class="large red awesome" id="news-edit">
                        Edit News &raquo;</span>
                </div>
            </div>
            <h1>${ tournament_id.name } - ${ name }</h1>                     
            <nav> 
               <ul id="path">   
                <li><a href="#!/tournament/${ tournament_id.id }/">${ tournament_id.name }</a></li>
                <li id="current"><a href="#!/news/">News</a></li>
               </ul>
            </nav>
         </div>  
      {{ /if }}

  
  <div class="block-15">
      <div><time datetime='${ChangeDate( created, "S" )}' pubdate>
              ${ChangeDate( created, "dd MMM yyyy")}
       </time><span class="caption-mini">${ name }</span></div>
      
   
        <div class="default-block">
             {{html content}}
        </div>

    </div>

</script>
{% endverbatim %}
